/************************************************

Stylesheet: Main Stylesheet

*************************************************/


$border-soft: 1px solid rgba(10, 10, 10, 0.05);
$border-hard: 1px solid rgba(10, 10, 10, 0.13);

$background-grey: #f1f1f1;


/***** GENERAL STYLES *****/

span.onsale { display: none; }

body.woocommerce-order-received h2 { font-size: 14px; }

a {

	color: rgba(0, 0, 0, 0.7);

}

a:hover {

	color: rgba(0, 0, 0, 1);

}

.excerpt-read-more {

	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;

	}

img.attachment-full {

	margin-bottom: 25px;

	}


.top-bar a:hover { color: rgba(0,0,0,1); }


main.intro { -webkit-column-count: 3; /* Chrome, Safari, Opera */ -moz-column-count: 3; /* Firefox */ column-count: 3; -webkit-column-rule: $border-soft; /* Chrome, Safari, Opera */ -moz-column-rule: $border-soft; /* Firefox */ column-rule: $border-soft; }

.foogallery-masonry .item a {
    display: inline-block;
    width: 100%;
}

.button { text-transform: uppercase; font-size: 13px; background-color: #eee; color: #333; border: 1px solid #ccc; }

.button:hover {

	background-color: transparent;
	border: $border-hard;
	color: #000;

}

table {

	width: 100%;
	border-top-color: none;
	border-right-color: none;
	border-bottom-color: none;
	border-left-color: none;
	padding-top: 100px!important;

}

thead, tbody, tfoot {

	border: none;

}


tbody th, tbody td {

	padding: 10px 25px 10px 25px!important;
	text-align: left;
}

td { font-size: 14px; }

div.woocommerce-billing-fields input { width: 100%; }

ul.wc_payment_methods.payment_methods.methods { list-style: none; }

span.amount { font-size: 14px; }

th.product-total { text-align: left!important; }

td.product-name, td.product-price, td.product-quantity, td.product-subtotal { text-align: right; }

.cart-collaterals { margin: 0 0 40px 0; }

table.shop_table.shop_table_responsive.cart { margin: 15px 0 0px 0; }

td.actions { display: none; }

th { text-transform: uppercase; font-size: 12px; text-align: right!important; padding-right: 25px!important; }

tr.order-total { padding: 125px!important; }

.thumbnails .columns { margin-top: 30px; }

.product { margin-bottom: 68px; }

.product h3 { font-size: 15px!important; }

h1.product_title { padding: 40px 0px 20px 0px; font-size: 20px; font-weight: bold; }

#query-work { margin-bottom: 90px; }



.query-work.column { margin-bottom: 40px; }

#query-work-archive { margin-top: 75px; margin-bottom: 85px; }

.woo-single-container { margin-bottom: 85px; }

.woo-thumb { margin-top: 30px; }

.woo-thumb img { /* position: relative; */ z-index: -9999; }

.woo-thumb-overlay {

	opacity: 0.75;
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	margin-top: -24px;
	padding: 3px 9px 3px 0px;
	background-color: rgba(255,255,255,0.75)!important;
	color: #000;
	font-size: 12px;
	text-transform: uppercase;

	}

.woocommerce-archive { margin-top: 5px; margin-bottom: 0px!important; }

.query-work-single { margin-bottom: 90px; }


.query-work-single .column { margin-bottom: 75px; }

.woocommerce { margin-bottom: 0px; }

div.products img {

	-webkit-transition:all 0.1s ease-out;
  -moz-transition:all 0.1s ease-out;
  -ms-transition:all 0.1s ease-out;
  -o-transition:all 0.1s ease-out;
  transition:all 0.1s ease-out;
   border: 1px solid rgba(0,0,0,0.05)!important;

}

div.products img:hover {

	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    border: 1px solid rgba(0,0,0,0.2)!important;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.callout {

	border: $border-hard;

}

hr {

	border-bottom: $border-hard;
}

.top-bar-left ul, .top-bar-right ul {

	background: transparent;

}

p {

	font-size: 13px;
	line-height: 25px;

}



.full-width {

	background-color: #f1f1f1;
	border-top: $border-soft;
	border-bottom: $border-soft;
	padding-bottom: 30px;
	margin: 0 0 0 0;

}

.full-width h1, .h1 {

	padding: 35px 0 0px 0;

}


/*
.full-width-content {

	background-color: #f1f1f1;
	border-top: $border-soft;
	border-bottom: $border-soft;
	margin-top: 80px;
	margin-bottom: 40px;
	padding-bottom: 50px;

}
*/


/*
 *
 * PAGE TEMPLATES
 *
 */


// Advanced custom field

#intro-text {

	padding: 0 0 20px 0;
	border-bottom: $border-hard;

}


.orbit-slider {

	border-top: $border-soft;
	border-bottom: $border-soft;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: -9999;
	position: relative;
}


.price-container {

    z-index: 9999;   /* Try to get it on top. */
    margin-top: -60px;
    padding: 15px 0 15px 0;

}


.price {

	color: #333;
	font-size: 14px;
}

small {  }

small a { text-transform: uppercase; font-weight: bold; font-size: 13px; }




button a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}


#lang_sel { padding: 4px 0 0 18px; }


.fa:before {

	margin-right: 10px;
}


.ads.usps {

	background-color: #000;
	color: #fff;
	font-size: 90%;
	padding: 0px 0 0px 0;
}


a.add_to_cart_button {

	margin: 25px 0px 25px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

body { font-family: 'PT Sans'; }

body.home main {
}

ul#menu-footer-menu-engels, ul#menu-footer-menu-nl {

	text-transform: uppercase;

	}

iframe.instawid-widget {

	height: 182px!important;

	}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

// 	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

	padding: 40px 0 50px 0;
	font-size: 30px;

}

h2, .h2 {

}

h3, .h3 {

	padding: 25px 0 0px 0;
	font-size: 20px;

}

h4, .h4 {

	font-size: 16px;
}

h5, .h5 {

}


/****************
 *
 * HEADER STYLES
 *
 ****************/

.lang-switcher a { color: rgba(0,0,0,0.50)!important; font-size: 13px; }

.lang-switcher a:hover { color: rgba(0,0,0,1)!important; }

.lang-switcher .active { color: rgba(0,0,0,1)!important; }

#preheader { background-color: #fff; color: rgba(0,0,0,1); text-transform: uppercase; font-size: 13px; padding-top: 3px; font-weight: normal; }

#preheader a { color: rgba(0,0,0,1); }

#preheader i.fa.fa-facebook-square, #preheader i.fa.fa-instagram, #preheader i.fa.fa-pinterest-square { font-size: 15px; }

.header {

	background-color: #fff;
// 	border-bottom: $border-soft;

	ul.off-canvas-list li {
		list-style: none;
	}
}


/*********************
NAVIGATION STYLES
*********************/

.title-bar { background-color: $background-grey; }

.title-bar-title { text-transform: uppercase; margin-top: 9px; }

button.menu-icon { margin-top: 13px; margin-bottom: 5px; }

.menu > li:not(.menu-text) > a {
    padding: 0.7rem 0.5rem;
}

div.sticky-container { z-index: 9999; }

.top-bar { text-transform: uppercase; font-size: 14px; z-index: 9999;

	.title-area {
		z-index: 9999;
	}
}

img.site-logo {

	@include breakpoint(small) {

		padding: 50px 0 15px 0;

    	}

    @include breakpoint(medium) {

		padding: 15px 0 0px 0;

    	}

	}

h1.site-logo { 	padding: 5px 0 20px 0; letter-spacing: 2px; font-family: 'Times New Roman'; font-weight: normal; font-size: 25px; }


.test-test {
//   width: 75%;
  margin: 0 auto;
}



.owl-carousel {

	margin-bottom: 0px;

}

.owl-carousel-img {

 	height: -moz-calc(100vh - 415px);
    height: -webkit-calc(100vh - 415px);
    height: calc(100vh - 415px);
//	-webkit-background-size: cover;
//	-moz-background-size: cover;
//	-o-background-size: cover;
//	background-size: cover;
//	background-repeat: no-repeat;
//	background-position: center center;
// 	position: relative;

}

.home-viewport { height: 100vh; }


.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}


li.current-menu-item { background-color: #f1f1f1; }

li.current-menu-item a { color: #000; }

.news-archive { margin-bottom: 75px; }

article.nieuws { margin-bottom: 0px; }

/*********************
POSTS & CONTENT STYLES
*********************/

#content { }

#content {
	#inner-content {
		padding: 25px 0px 15px 0px;
	}
}

.single-title,
.page-title {

}

.single-title {

}

.fa-caret-right.fa::before { margin-left: 6px; margin-right: 0; }

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	margin-bottom: 45px;

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.entry-content.news {

	margin-bottom: 0px;

	 }

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/

input[type='search'] {

	border: 1px solid;
	border-color: #ccc;

}

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar { }

.widget { margin-bottom: 25px; }

.widget_search {

	text-align: left;

	@include breakpoint(small) {

    	text-align: center;

    }

    @include breakpoint(medium) {

    	text-align: left;

    }

}

#searchsubmit { }

.widgettitle { color: rgba(0,0,0,0.75); }

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}


#codeus-shop { background-color: #f4f4f4; padding: 25px; }


/*********** SOCIAL ***********/


.social-follow { padding: 45px 0px 75px 0px; }

.social-follow h4 a { font-size: 25px; }

.social-follow h4 a:hover { color: rgba(0,0,0,1); }


/*********** FOOTER ***********/


.footer { background-color: $background-grey; color: rgba(0,0,0,0.60); clear: both; font-size: 12px; margin-top: 0em; padding: 50px 0 0px 0; border-top: $border-soft; }

.footer a { color: rgba(0,0,0,0.60); }

.footer a:hover { color: rgba(0,0,0,1); text-decoration: underline; }

.footer p a { text-decoration: underline; }

.footer .fa:before { margin-right: 0px; }

// Widget 3 - Footer Menu
#menu-footer-menu { font-size: 12px; margin-bottom: 19px; text-transform: uppercase; }

.footer .menu > li:not(.menu-text) > a { padding: 0.7rem 0rem; line-height: 0; }

// Widget 4 - Search form + Copyright + Credtis
ul.source-org * { color: rgba(0,0,0,0.6); font-size: 12px; text-transform: uppercase; line-height: 30px; }

.copyright a { text-decoration: underline; }

.copyright a:hover { color: rgba(0,0,0,1); }


/********** WORDPRESS PLUGINS **********/


// makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {

	list-style: none outside none;
	margin: 0;

	}

// Formidable Forms
img.frm_ajax_loading {

	display: none;

	}

.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=phone], .frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select, .frm_style_formidable-style.with_frm_style textarea,
.frm_form_fields_style, .frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container,
.frm_form_fields_active_style, .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices,
.frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {

    color: #555555;
    background-color: #fff!important;
    border-color: rgba(10, 10, 10, 0.13)!important;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
    width: 100%;
    max-width: 100%;
    font-size: 12px!important;
    padding: 6px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
    box-shadow: none!important;

	}

.frm_style_formidable-style.with_frm_style label.frm_primary_label,
.frm_style_formidable-style.with_frm_style.frm_login_form label {

    font-family: 'PT Sans', Tahoma, sans-serif!important;
    font-size: 12px!important;
    text-transform: uppercase!important;
    color: #333;
    font-weight: bold;
    padding: 0 0 3px 0;

	}

div.frm_error {

	margin-top: 7px!important;
	font-size: 12px!important;

	}

.frm_style_formidable-style.with_frm_style input[type=submit], .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], .frm_form_submit_style, .frm_style_formidable-style.with_frm_style.frm_login_form input[type=submit] {

	font-family: 'PT Sans', "Lucida Sans Unicode", Tahoma, sans-serif!important;
	font-size: 13px!important;
	text-transform: uppercase!important;
	height: auto;
	line-height: normal;
	text-align: center;
	background: #eee!important;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	color: 3333;
	font-weight: normal;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	border-radius: 0px!important;
	padding: 6px 11px;
	-moz-box-shadow: 0 1px 1px #eeeeee;
	-webkit-box-shadow: 0px 1px 1px #eeeeee;
	box-shadow: 0 1px 1px #eeeeee;

	}

.frm_style_formidable-style.with_frm_style input[type=submit]:hover, .frm_style_formidable-style.with_frm_style .frm_submit input[type=button]:hover, .frm_form_submit_style, .frm_style_formidable-style.with_frm_style.frm_login_form input[type=submit]:hover {

	background: #fff!important;

	}

.frm_forms {

	margin-bottom: 30px;

	}

	section.entry-content ul {
	font-size: 14px!important;
}

// WP Editor

@media only screen and (max-width: 500px) {

    .woocommerce div.product form.cart .button {

    width: 100%!important;
}

	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%!important;
    cursor: pointer;
    padding: 1.918em 8em!important;


}


}


.tabs-content {
    transition: all 0.5s ease;
    border: none!important;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
    background: rgba(0,0,0,0.0)!important;
}

.woocommerce table.shop_attributes td  {
    font-size: 13px!important;
}

.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 0px 0;
}

.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;
}

.woocommerce table.shop_attributes td {
    font-style: normal!important;
}

table.shop_attributes th {

	text-align: left!important;

}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: none!important;
    padding-bottom: 30px;
}

div.summary ul li a {

	font-size: 13px!important;
	font-weight: bold;
}

.reset_variations {
display: none !important;
}



form.variations_form.cart {

width: 50%;

}

tbody tr:nth-child(even) {
background-color: #fff;

}

li.product {

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.button {

background-color: rgba(0, 0, 0, 0.7);
border: 1px solid rgba(0, 0, 0, 0.0);

}

ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    padding-bottom: 10px;
}



ul.lang-switcher.menu.show-for-medium.float-right {

padding-top: 1px!important;

}

h1.page-title {

	text-align: center!important;

}

h2.woocommerce-loop-product__title {

	font-size: 1.0em;
	margin-top: 30px;
	text-align: center!important;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 40px;
}

.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus {
    background: rgba(0, 0, 0, 0.1)!important;
    color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce nav.woocommerce-pagination ul li a {
	background: #fff;
    color: rgba(0, 0, 0, 0.6)!important;

}

.woocommerce nav.woocommerce-pagination ul {
	background: #fff;
	border-right: 0px solid rgba(0, 0, 0, 0.1)!important;
    border-left: 1px solid rgba(0, 0, 0, 0.1)!important;

}



.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    padding: .918em 4em!important;
    font-weight: 700;
    border-radius: 1px;
    left: auto;
    color: #ccc!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

.woocommerce div.product .product_title {
	padding-top: 35px;
    padding-bottom: 40px;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.cart_totals h2 {
	margin-top: 25px;
	font-size: 1rem;

}

.woocommerce-message {
    border-top-color: rgba(0, 0, 0, 0.1)!important;
}

table {
	padding: 1px!important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {

    font-size: 1em;

}


small.includes_tax span {

	font-size: 12px;

}

.woocommerce ul.products li.product .price  {

	text-align: center!important;

}

ol.flex-control-thumbs {

	margin-top: 40px!important;
}

ol.flex-control-thumbs li {

	padding: 1px!important;
	float: left!important;
}

.woocommerce-message::before {

    color: rgba(0, 0, 0, 0.7);
}

.entry-summary h2 {

	display: none!important;

}

.woocommerce-info {
    border-top-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {

	    border-top: 3px solid rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-info::before {
    color: rgba(0, 0, 0, 0.7)!important;

}

/* tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border:none!important;
}

.tabs {
	border: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {

	display: none!important;
}

li.description_tab {

	display: none!important;
}

.woocommerce div.product .woocommerce-tabs h2 {
	font-weight: bold!important;
	font-size: 16px!important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:20px;
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 0em;
    display: none!important;
}

table.variations tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;

}

.tabs-title > a {
text-transform: uppercase!important;
	font-size: 10px!important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #fff!important;
		border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.tabs {

}

.is-accordion-submenu-parent > a::after {
	display: none!important;

}

.menu.uitklap {

	margin-left: 0rem!important;

}



.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 15px 25px 15px 0px !important;
}

section.entry-content ul {
	font-size: 14px!important;
	line-height: 25px;
}
